<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanSach.Properties.Settings.QuanLyBanSachConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanSach.Properties.Settings.QuanlysachConnectionString"
            connectionString="Data Source=BAO-THIEN\SQLEXPRESS;Initial Catalog=Quanlysach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
